/*NAVAR HORIZONTAL*/

   /* The navigation bar */
   .navbar-horizontal {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%;
    height: 150px;
    border: 1px solid #E05A0F;
    margin-left: 300px;
    
  }
  
  /* Links inside the navbar */

  .content-horizontal a{
    
    display: block;
    color: #f2f2f2;
    padding-left: 30px;
    border: 1px solid #E05A0F;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .content-horizontal a:hover {
    background: #ddd;
    color: black;
  }
   
  /*NAVAR VERTICAL*/

 /* The navigation bar */
 .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 300px;
    height: 100%;
    border: 1px solid #E05A0F;
  }
  
  .logo{
      
      padding : 70px
  }

  /* Links inside the navbar */

  .content a{
    
    display: block;
    color: #f2f2f2;
    padding-left: 30px;
    border: 1px solid #E05A0F;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .content a:hover {
    background: #ddd;
    color: black;
  }


  